/* 

Talk about SCSS variables

*/

$blue: cadetblue;
$pink: salmon;
$yellow: gold;

/*

Talk about CSS custom properties (aka variables)

*/

:root {
	--blue: cadetblue;
	--pink: salmon;
	--yellow: gold;
}

.my-content {
	color: var(--pink);
}
