/*

=============
PARTIALS
=============

Partials are a helpful way to modularize your styles across multiple files.

A partial is simply a SCSS file named with a leading underscore. The underscore 
lets SCSS know that the file is only a partial file and that it should not be 
generated into its own CSS file. SCSS partials are used with the @import directive. 
It's not necessary to include the file extension when importing.

*/

@import '1-nesting';
@import '2-variables';
@import '3-maps';
@import '4-mixins';
@import '5-example';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Sarabun', sans-serif;
}

h1 {
	font-size: 40px;
}