/*

Partials are a helpful way to modularize your styles across multiple files.

A partial is simply a SCSS file named with a leading underscore. You might 
name it something like _partial.scss. The underscore lets Sass know that the 
file is only a partial file and that it should not be generated into a CSS 
file. SCSS partials are used with the @import directive. It's not necessary
to include the file extension.

*/

@import 'variables';
@import 'maps';
@import 'mixins';
@import 'interpolation';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Sarabun', sans-serif;
}

header {
	background: gold;
	padding: 20px;

}

main {
	background: salmon;
	padding: 20px;
}

h1 {
	font-size: 40px;
}

p {
	margin: 30px 0;
	font-size: 20px;
}